rules:
  - JanWennrich\BoardGameGeekApi\Test\PhpStan\Rules\LoggerInfectionIgnoreRule
parameters:
  level: 10
  paths:
    - src
    - tests
  tipsOfTheDay: false
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    -
      identifier: infection.logger.ignore
      paths:
        - tests
